body {
  margin: 0;
  font-family: Roboto, sans-serif;
  padding: 0;
}

h1 {
  max-width: 640px;
  margin: 30px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  >div{
    margin: auto;
    width: 100%;
    max-width: 640px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    >div {
      position: relative;
      &:after{
        content: "";
        left: -10px;
        position: absolute;
        height: 90%;
        width: 2px;
        transform: translate(0, -50%);
        top: 50%;
        background: #0179FF;
      }
      label {
        display: flex;
        align-items: center;
        padding: 15px;
        text-align: left;
        background: #F5F5F5;
        border: 1px solid #E8E8E8;
        cursor: pointer;
        &:before{
          content: "";
          display: inline-block;
          padding: 3px;
          margin-right: 7px;
          border: solid #777;
          border-width: 0 2px 2px 0;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
      input{
        display: none;
        &:checked {
          +label{
            &:before{
              transform: rotate(45deg);
            }
          }
          ~ div {
            height: 100%!important;
            overflow: visible!important;
            display: block;
          }
        }
      }
      >div{
        transition:all .3s;
        height: 0;
        overflow: hidden;
        padding: 20px;
        display: none;
        >div{
          text-align: center;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}
@media (min-width: 600px) {
   img{
     width: auto!important;
   }
}

